# [YUI-specific] Indicates that the block describes a managed configuration attribute. An attribute is an object created and managed by the YUI Attribute API. It is a kind of "super-property", with getters, setters, and other nifty features, including the ability to automatically fire change events.
# An @attribute block should reside directly above the definition of the attribute, whether that is inside a Y.Base object's ATTRS property or elsewhere. Note that if your yuidoc.json file sets attributesEmit to true, YUI will automatically generate documentation for the attribute's change events throughout the source tree, with no extra YUIDoc comments needed from you.
# If you specify a @element tag, the @attribute tag works as a attribute of the element.
# See also: @element, @property, @default, @class, @for, @type, @required, @optional.

'.source.coffee':
	'Managed configuration attribute':
		'prefix': '#attr'
		'body': """
		###*
		${1:description}

		@attribute ${2:MY_ATTRIBUTE}
		@readOnly
		@type {${3:Boolean}}
		@default "${4:false}"
		###
		"""

'.source.js':
	'Managed configuration attribute':
		'prefix': '*attr'
		'body': """
		/**
		${1:description}

		@attribute ${2:MY_ATTRIBUTE}
		@readOnly
		@type {${3:Boolean}}
		@default "${4:false}"
		**/
		"""
